@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css");

:root {
  --primary-color: #00f9ff;
  --background-color: #22303f;
  --surface-on-background: #17212b;
  --card-background-color: #1e2b38;
  --text-color: #f2f6fd;
  --border-radius: 16px;
}

/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  background-color: var(--background-color);
  color: var(--text-color);
}

header.navbar-container {
  width: 100%;
  max-width: 1200px;
  padding-block: 1rem;
  margin-inline: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 9999;

  background-color: var(--surface-on-background);
  position: sticky;
  top:0;
}

header.navbar-container .logo img {
  width: 150px;
}

header.navbar-container .nav-list ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header.navbar-container .nav-list ul li {
  list-style-type: none;
}

header.navbar-container .nav-list ul li a {
  /* padding: 0.5rem 1.5rem;
  border-radius: 999px; */
  padding: 4px 8px;
  text-decoration: none;
  /* font-size: 1.05rem;
  font-weight: 500; */
  color: var(--text-color);

  transition: all 0.3s ease;
}

header.navbar-container .nav-list ul li:hover a {
  /* background-color: #425c77;
  color: white; */
  color: var(--background-color);
  text-align: center;
  border-radius: 8px;
  background-color: var(--primary-color);
}

main {
  flex: 1;

  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 4rem;

  display: flex;
  align-items: center;
}

main .content article{
    margin: 0px 0px 100px 0px;
    background-color: blue;
  /* flex: 1;

  display: flex;
  align-items: center; */
}

main .content .title {
  margin-block: 1rem;
  font-size: 3.5rem;
}

main .content #about {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

main .content #about .content-image {
  flex: 1;
  display: flex;
}

main .content #about .content-image img {
  width: 300px;
  min-width: 250px;
  margin: auto;
}

main .content #about .greeting {
  flex: 1 1;
}
main .content #about .title {
    color: var(--primary-color);
}


main .content #about .greeting p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

/* main .content .greeting button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 999px;
  margin-block-start: 1rem;

  background-color: #2d3e50;

  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;

  cursor: pointer;
  transition: all 0.15s ease-in;
} 

main .content .greeting button:hover {
  border: 3px solid #2d3e50;
  background-color: transparent;

  color: #2d3e50;
} */

main aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
}

main aside .social-media {
    height: 100%;
    display: flex;
}

main aside .social-media ul {
    /* padding: 1.5rem 1rem; */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: auto;
    background-color:  var(--surface-on-background);
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    /* gap: 1.5rem; */
}

main aside .social-media li {
    list-style-type: none;
}

main aside .social-media li img{
    color: var(--primary-color);
    display: flex;
    block-size: 100;
    transition: all 0.5s ease;
    /* margin: 8px 8px; */
    padding: 12px;

    /* display: block; */
    /* text-align: center; */
    /* display: block; */
    width: 75px;
    /* margin: 0 auto; */

}
main aside .social-media img:hover {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--surface-on-background);
    width: 100px;
}

main aside .social-media li a {
    text-decoration: none;
    /* font-size: 1.5rem;
    color: white;
    
    transition: all 0.1s ease-in-out; */
}

main aside .social-media li a:hover {
    /* color: #89b0d9; */
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--surface-on-background);
    font-size: 2em;
} 

main aside .social-media li a i{
    color: var(--primary-color);
    display: flex;
    /* block-size: 100; */
    transition: all 0.3s ease;
    /* margin: 8px 0px; */
    padding: 12px;

    font-size: 1.5em;
}


/* Medium devices (768px dan di bawahnya) */
@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  main {
    padding: 1rem 2rem;
  }

  main .content #about {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  main .content .title {
    font-size: 1.5rem;
  }

  main .content #about .greeting p {
    font-size: 1rem;
  }

  main .content #about .content-image {
    order: -1;
  }
}
