@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css");

:root {
  --primary-color: #00f9ff;
  --background-color: #22303f;
  --surface-on-background: #17212b;
  --card-background-color: #1e2b38;
  --text-color: #f2f6fd;
  --border-radius: 16px;
}

/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  background-color: var(--background-color);
  color: var(--text-color);
}

header.navbar-container {
  width: 100%;
  /* max-width: 1200px; */
  padding-block: 1rem;
  margin-inline: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 9999;

  background-color: var(--surface-on-background);
  position: sticky;
  top: 0;
}

header.navbar-container .logo img {
  width: 150px;
}

header.navbar-container .nav-list ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header.navbar-container .nav-list ul li {
  list-style-type: none;
}

header.navbar-container .nav-list ul li a {
  /* padding: 0.5rem 1.5rem;
  border-radius: 999px; */
  padding: 4px 8px;
  text-decoration: none;
  /* font-size: 1.05rem;
  font-weight: 500; */
  color: var(--text-color);

  transition: all 0.3s ease;
}

header.navbar-container .nav-list ul li:hover a {
  /* background-color: #425c77;
  color: white; */
  color: var(--background-color);
  text-align: center;
  border-radius: 8px;
  background-color: var(--primary-color);
}

main {
  flex: 1;

  /* width: 100%; */
  /* max-width: 1200px; */
  /* margin-inline: auto; */
  /* padding: 2rem 4rem; */

  display: flex;
  align-items: center;
}

main #content article {
  /* margin: 0px 0px 100px 0px; */
  /* background-color: blue; */
  /* flex: 1;

  display: flex;
  align-items: center; */
}

main #content .title {
  font-size: 3.5rem;
}

main #content #about {
  padding: 2rem 4rem;

  /* width: 100%; */
  /* margin-inline: auto; */
  /* max-width: 1200px; */
  height: 100vh;

  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--surface-on-background);
}

main #content #about .content-image {
  flex: 1;
  display: flex;
}

main #content #about .content-image img {
  width: 300px;
  min-width: 250px;
  margin: auto;
}

main #content #about .greeting {
  flex: 2 1;
}
main #content #about .title {
  color: var(--primary-color);
}

main #content #about .greeting p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-right: 25%;
}

/* main #content .greeting button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 999px;
  margin-block-start: 1rem;

  background-color: #2d3e50;

  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;

  cursor: pointer;
  transition: all 0.15s ease-in;
} 

main #content .greeting button:hover {
  border: 3px solid #2d3e50;
  background-color: transparent;

  color: #2d3e50;
} */

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}

main aside .social-media ul {
  /* padding: 1.5rem 1rem; */
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  background-color: var(--surface-on-background);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  /* gap: 1.5rem; */
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li img {
  color: var(--primary-color);
  display: flex;
  block-size: 100;
  transition: all 0.5s ease;
  /* margin: 8px 8px; */
  padding: 12px;

  /* display: block; */
  /* text-align: center; */
  /* display: block; */
  width: 75px;
  /* margin: 0 auto; */
}
main aside .social-media img:hover {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--surface-on-background);
  width: 100px;
}

main aside .social-media li a {
  text-decoration: none;
  /* font-size: 1.5rem;
    color: white;
    
    transition: all 0.1s ease-in-out; */
}

main aside .social-media li a:hover {
  /* color: #89b0d9; */
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--surface-on-background);
  font-size: 2em;
}

main aside .social-media li a i {
  color: var(--primary-color);
  display: flex;
  /* block-size: 100; */
  transition: all 0.3s ease;
  /* margin: 8px 0px; */
  padding: 12px;

  font-size: 1.5em;
}

main #content #projects {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 64px;
  margin-bottom: 64px;
  justify-content: center;
  align-items: center;
}

main #content #projects .project-list {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 2rem;
  margin-top: 3rem;

}

main #content #projects .project-list img.mockup-image {
  display: flex;
  /* width: 300px; */
  /* min-width: 250px; */
  width: 100%;
  /* max-width: 1200px; */
  margin: auto;
}

.mockup-image:hover {
  background-color: var(--surface-on-background);

  border-radius: var(--border-radius);
}

main #content #articles {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  margin-bottom: 64px;
  justify-content: center;
  align-items: center;
  
}

main #content #articles .article-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;
}

main #content #articles .article-list .article-tile img {
  /* width: 300px; */
  /* min-width: 250px; */
  width: 100%;
  margin: auto;
  border-radius: var(--border-radius);
}

main #content #contact {
  display: flex;
  flex-direction: column;

  background-color: var(--surface-on-background);
  /* border-radius: var(--border-radius); */

  padding: 24px 0px;
  align-items: center;
  /* text-align: center; */
}

main #content #contact .contact-layout {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 16px;
}

main #content #contact .contact-layout .send-message-illustration {
  flex: 1;
  display: flex;
}

main #content #contact .contact-layout .send-message-illustration img {
  width: 450px;
  margin: auto;
}

main #content #contact .contact-form .contact-layout label,
input,
textarea {
  display: block;
}

main #content #contact .contact-layout .contact-form {
  /* margin: 16px; */
  display: flex;
  flex: 2;
  flex-direction: column;
  padding: 16px;
  /* background-color: blue; */
}

main #content #contact .contact-form input,
textarea {
  background: var(--background-color);
  border: none;
  padding: 16px;
  border-radius: var(--border-radius);
  color: var(--text-color);
  margin: 8px 0 16px 0;
}

/* Cek nanti */
main #content #contact .contact-form .text-box {
  /* width: 500px;
  max-width: 100%; */
  width: 100%;
  resize: vertical;
}

main #content #contact .contact-form .send-btn {
  color: var(--primary-color);

  font-weight: 600;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  cursor: pointer;

  margin-top: 30px;
  width: 100%;
  /* padding: 16 100px; */
}

main #content #contact .contact-form .send-btn:hover {
  font-weight: 600;
  background: var(--primary-color);
  color: var(--surface-on-background);
}

footer {
  width: 100%;
  background-color: var(--surface-on-background);
}

footer #footer-container {
  display: flex;
  width: 100%;
  /* max-width: 1200px; */

  margin-inline: auto;
  padding-block: 1rem;

  justify-content: space-around;
  align-items: center;
}

/* Medium devices (768px dan di bawahnya) */
@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  main {
    /* padding: 1rem 2rem; */
  }

  main #content #about {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 2rem 0rem;
  }

  main #content #contact .contact-layout .send-message-illustration img {
    width: 200px;
    min-width: 200px;
    margin: auto;
  }

  main #content .title {
    font-size: 1.5rem;
  }

  main #content #about .greeting p {
    font-size: 1rem;
    margin-right: 0;
  }

  main #content #about .content-image {
    order: -1;
  }

  main #content #articles .article-list {
    display: flex;
    flex-direction: column;
  }
  main #content #contact {
    display: flex;
    flex-direction: column;
  }

  main #content #contact .contact-layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  footer #footer-container {
    flex-direction: column;
  }
}
